@model IndexLibViewModel
@{
    ViewData["title"] = "IndexLib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center mt-4" style="padding-bottom:30px;">
    <h1 class="jumbotron" style="text-align:center">LIBRARY</h1>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Create">Add new Book</a>
        //<a class="btn btn-primary" asp-action="Add_new_genre"></a>

        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new genre</button>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Вміст модального вікна -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new genre</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="enteredText" />
                        <button id="addGenreButton" type="button">Add</button> <!-- Add an ID and set type to "button" -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
@{
    foreach (var item in Model.Lists_book)
    {
        if (item.list.Count > 0)
        {
            <a asp-controller="Books" asp-action="ShowGenreList" asp-route-title="@item.Genre">
                <h3 class="subtitle">@item.Genre ➝</h3>
            </a>
            <div class="book-list-index">
                @{
                    int i = 0;
                    foreach (var _item in item.list)
                    {
                        if (i < 5)
                        {
                            <a style="text-decoration:none; width:220px; height:300px; margin-right:20px; margin-left:20px;" asp-controller="Books" asp-action="Details" asp-route-id="@_item.BookId">
                                <div class="book">
                                    <div class="cover" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(_item.Book_image)');">
                                    </div>
                                    <p>@_item.AuthorName @_item.AuthorSurname</p>
                                    <p>Genre: @_item.Genre</p>
                                    <p>Release date: @_item.ReleaseDate</p>
                                    <p>Pages: @_item.Pages</p>
                                </div>
                            </a>
                            i++;
                        }
                    }

                }
            </div>
        }
    }
}

@section scripts {
    <script>
        document.getElementById("addGenreButton").addEventListener("click", function () {
            var enteredText = document.getElementById("enteredText").value;

            // Send AJAX request to the controller action
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Books/Add_Genre", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById("result").innerHTML = response.message;
                }
            };
            xhr.send(JSON.stringify(enteredText)); // Pass the enteredText directly
        });
    </script>
}
