@model ICollection<ASP.NET_MVC_testapp.Models.Book>


@{
    ViewData["title"] = "IndexLib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LIBRARY</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                Title
            </th>
            <th>
                Author
            </th>
@*            <th>
                AuthorSurname
            </th>*@
@*            <th>
                Pages
            </th>
            <th>
               Genre
            </th>
            <th>
                BookDescription
            </th>*@
            <th>
               ReleaseDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurname)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.BookDescription)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
