@model List<Book>
    <div class="full-book-list-index">
    @{
        if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                int i = 0;

                <a style="text-decoration:none;" asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                    <div class="book">
                        <div class="cover" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(item.Book_image)');">
                        </div>
                        <p>@item.AuthorName @item.AuthorSurname</p>
                        <p>Genre: @item.Genre</p>
                        <p>Release date: @item.ReleaseDate</p>
                        <p>Pages: @item.Pages</p>
                    </div>
                </a>
                i++;
            }
        }
        else
        {
            <h1>Sorry, but we couldn't find any books with these filters :(</h1>
        }
    }
    </div>