@model List<Event>

<div class="row">
    @foreach (var _event in Model)
    {
        <div class="col-md-12">
            <div class="card mb-4 event-card" >
                <a href="@Url.Action("EventPage", "Event", new { id = _event.Id })" class="card-link">
                <div class="card-body">
                    <h4 class="card-title">@_event.Title</h4>
                    <p class="card-text">@_event.ShortDescription</p>
                    <p class="card-text">@_event.DateAndTime.ToString("dd MMM yyyy") | @_event.City, @_event.Address</p>
                </div>
                </a>
            </div>
        </div>
    }
</div>
