@{
    ViewData["Title"] = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IndexViewModel
<h1 class="text-md-center pt-4 pb-3">MY BOOKS</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="card1" style="padding: 12px;" href="@Url.Action("ShowList", "MyBooks", new { num = 1 })">
                <h3>Books I've Read</h3>
                <div class="table">
                    @{
                        int i = 0;
                        if (Model.alreadyRead.Count > 0)
                        {
                            <div class="row">
                                <h5 class="col">Title</h5>
                                <h5 class="col">Author</h5>
                                <h5 class="col">Year</h5>
                            </div>
                            for (; i < 5 && i <= Model.alreadyRead.Count - 1; i++)
                            {
                                <div class="row">
                                    <p class="col">@Model.alreadyRead[i].Title</p>
                                    <p class="col">@Model.alreadyRead[i].AuthorName @Model.alreadyRead[i].AuthorSurname</p>
                                    <p class="col">@Model.alreadyRead[i].ReleaseDate</p>
                                </div>
                            }
                            if (Model.alreadyRead.Count > 5)
                            {
                                <p style="text-align:center">.    .    .</p>
                            }
                        }
                        else
                        {
                            <p>Empty...</p>
                        }
                    }
                </div>
                <div class="go-corner" href="@Url.Action("ShowList", "MyBooks", new { num = 1 })">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="card1" style="padding: 12px;" href="@Url.Action("ShowList", "MyBooks", new { num = 2 })">
                <h3>Books I`m currently reading</h3>
                <div class="table">
                    @{
                        int k = 0;
                        if (Model.currentlyReading.Count > 0)
                        {
                            <div class="row">
                                <h5 class="col">Title</h5>
                                <h5 class="col">Author</h5>
                                <h5 class="col">Year</h5>
                            </div>
                            for (; k < 5 && k<=Model.currentlyReading.Count-1; k++)
                                                                            {
                                <div class="row">
                                    <p class="col">@Model.currentlyReading[k].Title</p>
                                    <p class="col">@Model.currentlyReading[k].AuthorName @Model.currentlyReading[k].AuthorSurname</p>
                                    <p class="col">@Model.currentlyReading[k].ReleaseDate</p>
                                </div>
                            }
                            if (Model.currentlyReading.Count > 5)
                            {
                                <p style="text-align:center">.    .    .</p>
                            }
                        }
                        else
                        {
                            <p>Empty...</p>
                        }
                    }
                </div>
                <div class="go-corner" href="@Url.Action("ShowList", "MyBooks", new { num = 2 })">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="card1" style="padding: 12px;" href="@Url.Action("ShowList", "MyBooks", new { num = 3 })">
                <h3>Books I plan to read</h3>
                <div class="table">
                    @{
                        int l = 0;
                        if (Model.willRead.Count > 0)
                                    {
                            <div class="row">
                                <h5 class="col">Title</h5>
                                <h5 class="col">Author</h5>
                                <h5 class="col">Year</h5>
                            </div>
                            for (; l < 5 && l <= Model.willRead.Count - 1; l++)
                            {
                                <div class="row">
                                    <p class="col">@Model.willRead[l].Title</p>
                                    <p class="col">@Model.willRead[l].AuthorName @Model.willRead[l].AuthorSurname</p>
                                    <p class="col">@Model.willRead[l].ReleaseDate</p>
                                </div>
                            }
                            if (Model.willRead.Count > 5)
                            {
                                <p style="text-align:center">.    .    .</p>
                            }
                        }
                        else
                        {
                            <p>Empty...</p>
                        }
                    }
                </div>
                <div class="go-corner" href="@Url.Action("ShowList", "MyBooks", new { num = 3 })">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="card1" style="padding: 12px;" href="@Url.Action("ShowList", "MyBooks", new { num = 4 })">
                <h3>Favorite books</h3>
                <div class="table">
                    @{
                        int n = 0;
                        if (Model.favoriteBooks.Count > 0)
                        {
                            <div class="row">
                                <h5 class="col">Title</h5>
                                <h5 class="col">Author</h5>
                                <h5 class="col">Year</h5>
                            </div>
                            for (; n< 5 && n <= Model.favoriteBooks.Count - 1; n++)
                            {
                                <div class="row">
                                    <p class="col">@Model.favoriteBooks[n].Title</p>
                                    <p class="col">@Model.favoriteBooks[n].AuthorName @Model.favoriteBooks[n].AuthorSurname</p>
                                    <p class="col">@Model.favoriteBooks[n].ReleaseDate</p>
                                </div>
                            }
                            if (Model.favoriteBooks.Count > 5)
                            {
                                <p style="text-align:center">.    .    .</p>
                            }
                        }
                        else
                        {
                            <p>Empty...</p>
                        }
                    }
                </div>
                <div class="go-corner" href="@Url.Action("ShowList", "MyBooks", new { num = 4 })">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
