@model PaginatedList<Book>


@{
    ViewData["title"] = "IndexLib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>LIBRARY</h1>

<form>
    <input type="text" id="searchInput" placeholder="Enter book title or author">
</form>

<div id="searchResultsContainer">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName @book.AuthorSurname</td>
                    <td>@book.ReleaseDate</td>
                    <td>
                        <a class="btn btn-primary mx-2" asp-controller="Books" asp-action="Details" asp-route-id="@book.BookId">Details</a>
                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <a class="btn btn-primary mx-2" asp-controller="MyBooks" asp-action="AddToFavorites" asp-route-bookId="@book.BookId" asp-route-IsFavorite="@true">Like</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <text>
                                <a class="btn btn-primary mx-2" asp-controller="Books" asp-action="Edit" asp-route-id="@book.BookId">Edit</a>
                                <a class="btn btn-primary mx-2" asp-controller="Books" asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
                            </text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="PaginatedList" asp-route-pageNumber="@(Model.PageIndex-1)"  class="btn btn-default @prevDisabled">Previous</a>
    <a asp-action="PaginatedList" asp-route-pageNumber="@(Model.PageIndex+1)"  class=" btn btn-default @nextDisabled">Next</a>
</div>
<!-- Include jQuery and the JavaScript code for AJAX search -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchTerm = $(this).val();

            $.ajax({
                url: '/MyBooks/SearchBooks',
                type: 'GET',
                cache: false,
                data: { searchTerm: searchTerm },
                success: function (result) {
                    $('#searchResultsContainer').html(result);
                }
            });
        });
    });
</script>